.xm-set-text{font-size: 11px; color: #9b9b9b; width: 284px;
 height: 133px; padding:8px; border:1px solid #E9E9E9; margin:10px 0px 0px 0px; background: #fcfcfc;}
 .xm-newadd{width:298px;margin: 0 auto;text-align:center;height: 34px;line-height: 34px;background: #fff;font-size:11px;color:#000;  border:1px solid #9B9B9B;}
.xm-newadd:active{background:#fafafa;}
.xm-eva-sure{ margin-top: 20px;}