

/*关于我们*/
.xm-aboutus-btm{position: fixed; bottom:60px;}
.xm-logo{width: 100px; height: 100px; position: absolute; left: 50%; top:94px; margin-left: -50px; background:pink; text-align: center}
.xm-logo p{font-size: 10px; color: #000; line-height: 230px;}
/*关于我们*/
